<div style="margin: 20px;">
    <h2 mat-dialog-title>Yeni Board Ekle</h2>
    <mat-dialog-content>
        <form [formGroup]="boardForm">
            <mat-form-field appearance="fill">
                <mat-label>Baslik</mat-label>
                <input matInput formControlName="title">
                <mat-error *ngIf="boardForm.get('title')?.hasError('required')">baslik girmak zorunludur</mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button (click)="close()" mat-raised-button color="accent">Iptal</button>
        <button (click)="create()" [disabled]="boardForm.invalid" mat-raised-button color="primary">Olustur</button>
    </mat-dialog-actions>
</div>